@font-face {
    font-family: 'Pixel';
    src: url(../fonts/tight_pixel.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 42px;
    font-family: "Pixel";
}

.header {
    font-size: 100px;
    text-align: center;
    margin:10px;
}

.container {
    display: flex;
    justify-content: center;
}

.start {
    border: 10px solid black;
    padding: 10px 30px;
}

.main {
    display: none;
}

.subMenu {
    display: none;
    width: 1020px;
    padding: 10px;
    border: 10px solid black;
    margin-top: 5px;
}

.subMenu__paragraph {
    margin: 10px;
}

.subMenu__paragraph--color {
    padding: 10px 20px;
}

.subMenu__paragraph--color:hover {
    background-color: black;
    color: white;
}

.lateralMenu {
    display: none;
    margin-left: 10px;
    width: 300px;
    padding: 10px;
    border: 10px solid black;
}

.lateralMenu__name {
    padding: 10px 20px;
}

.lateralMenu__sign {
    padding: 10px 20px;
}

.lateralMenu__sign:hover {
    background-color: black;
    color: white;
}